<connectionStrings>
  <add name="ApplicationServices"
       connectionString="server=test-db;database=Curacao;trusted_connection=yes;"
       providerName="System.Data.SqlClient" />
  <!-- user database (SQLCE) -->
  <add name="ProviderDB"
       connectionString="Data Source=|DataDirectory|\IdentityServerUsers.sdf"
       providerName="System.Data.SqlServerCe.4.0" />
</connectionStrings>
